@import "./helpers/reset";
@import "./helpers/variables";
@import "./helpers/mixin";

html,
body {
	font: 18px/1.7 'Open Sans', sans-serif;
}

body {
	background: $main_dark url('../../dist/image/cover.jpg') no-repeat center top;
	background-size: 100% auto;
	color: $main_title;
}

a {
	color: $main_highlight;
	transition: opacity 0.3s;
	opacity: 1;

	&:visited {
		// color: darken($main_highlight, 10);
		color: $main_highlight;
	}

	&:hover,
	&:active {
		opacity: 0.7;
	}
}

/*Main styles */
.content {
	padding: 0 $main_shift $main_shift;
	min-width: 1460px;
	margin: 0 auto;

	p {
		margin-bottom: 1.3em
	}
}

.cover-space {
	padding-bottom: 82%;
}

.section__main {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	left: $main_shift;
	right: $main_shift;
	top: 14vw;
}


// Media


@media screen and (max-width:1790px) {

	html,
	body {
		font-size: 16px;
	}

	.content {
		min-width: 1200px;

		p {
			margin-bottom: 1.3em
		}
	}

	.section-col {
		&:first-child {
			width: 40%;
		}

		&:last-child {
			width: 50%;
		}
	}
}

@media screen and (max-width:1550px) {

	html,
	body {
		font-size: 14px;
	}
}

@media screen and (max-width:1380px) {
	.section-col {
		&:first-child {
			width: 43%;
		}

		&:last-child {
			width: 50%;
		}
	}
}

@media screen and (max-width:1310px) {
	.main-title {
		font-size: 0.9rem;
	}
}

@import "./sections/main"