<section class="section-design g-section">
        <div class="section-content">
            <div class="section-title">
                Fast and easy custom boxes your customers will love
            </div>
            <div class="grid-wrap">
                <div class="grid-item">
                    <div class="image-wrap">
                        <img src="./image/section-design/proces1.png" alt="" class="image">
                    </div>
                    <div class="item-title">You Order</div>
                    <p class="item-desc">Design and order boxes in a few clicks.</p>
                </div>
                <div class="grid-item">
                    <div class="image-wrap">
                        <img src="./image/section-design/proces2.png" alt="" class="image">
                    </div>
                    <div class="item-title">We Proof</div>
                    <p class="item-desc">Approve your designs before production.</p>
                </div>
                <div class="grid-item">
                    <div class="image-wrap">
                        <img src="./image/section-design/proces3.png" alt="" class="image">
                    </div>
                    <div class="item-title">We Print & Ship</div>
                    <p class="item-desc">Your order gets printed and shipped with tracking.</p>
                </div>
            </div>
            <div class="button-wrap">
                <button class="button">Start your design</button>
            </div>  
    </div>