<section class="section-hero">
	<div class="hero-wrapper">
		<div class="hero-left">
			<div class="hero__title">
				Fast and easy custom boxes your customers will love
			</div>
			<div class="hero__text">
				Fastest turnaround. Best prices instantly. Dieline design help available.
			</div>
			<div class="hero__button">
				<button>Start your design</button>
			</div>
		</div>

		<div class="hero-right">
			<img src="./images/hero/hero.png" alt="">
		</div>

	</div>
</section>
<div class="header-certified">
	<div class="certified-wrapper">
		<div class="certified-item">
			<div class="image-wrapper">
				<img src="./images/certified/shopify.png" alt="">
			</div>
			<div class="text-wrapper">
				Shopify <br> Integrated
			</div>
		</div>
		<div class="certified-item">
			<div class="image-wrapper">
				<img src="./images/certified/amazon.png" alt="">
			</div>
			<div class="text-wrapper">
				Amazon <br> Certified
			</div>
		</div>
		<div class="certified-item">
			<div class="image-wrapper">
				<img src="./images/certified/eco-frie.png" alt="">
			</div>
			<div class="text-wrapper">
				Eco-Friendly
			</div>
		</div>
	</div>
</div>
